.Auth {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  -webkit-box-shadow: 0 2px 3px #ccc;
  -moz-box-shadow: 0 2px 3px #ccc;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Input {
  display: block;
}

@media(min-width: 600px) {
  .Auth {
    width: 500px
  }
}